.user-card-container {
  width: 100%;
  max-width: 450px;
  padding: 16px;
  top: 35vh;
}

.user-card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: left;
  flex-wrap: wrap;
}

.user-card-details {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: left;
  flex-wrap: wrap;
  width: 100%;
}

.user-card-header {
  width: 100%;
  display: flex;
  flex-basis: space-around;
  flex-direction: row;
  justify-content: center;
  height: 20%;
}

a {
  color: darkgray;
  cursor: pointer;
  padding: 0 0 5px 5px;
}

.user-card-img {
  margin: 0 5px 10px 10px;
  & img {
    height: 90%;
    border-radius: 50%;
  }
}

.user-card-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
